.tf-build-venv/
/dist/
/logs/
/profiles/
/runtime-tests/
/sources/*
!/sources/README.md

/tools/bazel
/tools/bazelisk
/tools/jdk-*/
/tools/OpenJDK*.tar.gz

__pycache__/
*.pyc

.venv/
*.venv/

.DS_Store
